body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.header-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(163, 160, 160, 0.788);
    border-radius: 8px;
}

.header-container .logo {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-container h1 {
    font-size: 2.5em;
    color:#00050a ;
    margin: 10px 0;
}

.header-container p {
    font-size: 1.2em;
    color: #01080f;
    margin: 0 0 20px 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: left;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Styles for buttons */
button {
    width: 47%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    color: red;
    font-size: 14px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.button-row button {
     background-color: #0056b3; /* Red */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.register-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.register-button-container p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.register-button {
    background-color: #0056b3; /* Red */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.register-button:hover {
    background-color: #d32f2f;
}

.success {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}